
<div class="container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 350px; background-color: #1e1e2e; border-radius: 8px;">
    <div class="text-center">
      <h3 class="text-white" style="font-family: 'Poppins', sans-serif;">BookMarket</h3>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
          <p *ngFor="let msg of errorMessage">{{msg}}</p>
        </div>
    </div>
      <!-- email field -->
      <div class="form-group mb-3">
        <label for="email" class="text-white">Email</label>
        <input
          [(ngModel)]="authRequest.email"
          type="email" placeholder="email address"
          id="email"
          class="form-control"
        >
      </div>
      <!-- password field -->
      <div class="form-group mb-3">
        <label for="password" class="text-white">Password</label>
        <input
          [(ngModel)]="authRequest.password"
          type="password"
          id="password"
          placeholder="email address"
          class="form-control"
        >
      </div>

      <button type="submit" (click)="onSubmit()" class="btn btn-primary w-100 mb-4">Sign In</button>
    <div class="text-center">
      <button (click)="register()" class="btn btn-link text-white">Don't have an account ? register</button>
    </div>
  </div>
</div>

<!--<div class="container d-flex justify-content-center align-items-center vh-100">-->
<!--  <div class="register-form col-md-6 col-lg-4 shadow p-4 rounded">-->
<!--    <h3 class="text-center">Welcome back</h3>-->
<!--  <hr>-->
<!--  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">-->
<!--    <p *ngFor="let msg of errorMessage">{{msg}}</p>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="login" class="form-label">Email:</label>-->
<!--    <input [(ngModel)]="authRequest.email" type="email" placeholder="email address" class="form-control" id="login">-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="password" class="form-label">Password:</label>-->
<!--    <input [(ngModel)]="authRequest.password"-->
<!--           type="password" placeholder="password"-->
<!--           class="form-control" id="password">-->
<!--  </div>-->

<!--  <div class="d-flex justify-content-between mb-3">-->
<!--    <button (click)="login()" type="button" class="btn btn-primary">-->
<!--      <em class="fas fa-sign">&nbsp;SignIn</em>-->
<!--    </button>-->
<!--  </div>-->
<!--  <p>Don't have an account?</p>-->
<!--  <div class="d-flex justify-content-between mb-3">-->
<!--    <button (click)="register()" type="button" class="btn btn-link">-->
<!--    Register-->
<!--    </button>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->

<!-- <div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="register-form col-md-6 col-lg-4 shadow p-4 rounded">
    <form>

      <div class="form-group mb-3">
        <input
          type="text"
          formControlName="email"
          placeholder="email address"
          class="form-control"
        />
      </div>

      <div class="form-group mb-3">
        <input
          type="password"
          placeholder="password"
          formControlName="password"
          class="form-control"
        />
      </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
               <div class="text-center">
                <a href="/login" class="d-block">Already have an account? Login</a>
                <a href="/forgot-password" class="d-block">Forgot Password?</a>
               </div>
    </form>
  </div>
</div> -->










