
<div class="container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 350px; background-color: #1e1e2e; border-radius: 8px;">
    <div class="text-center">
      <h3 class="text-white" style="font-family: 'Poppins', sans-serif;">BookMarket</h3>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{msg}}</p>
      </div>
    </div>
    <!-- firstname field -->
    <div class="form-group mb-3">
      <label for="firstname" class="text-white">Firstname</label>
      <input
        [(ngModel)]="registerRequest.firstname"
        type="text" placeholder="enter your firstname"
        id="firstname"
        class="form-control"
      >
    </div>
    <!-- lastname field -->
    <div class="form-group mb-3">
      <label for="lastname" class="text-white">Lastname</label>
      <input
        [(ngModel)]="registerRequest.lastname"
        type="text" placeholder="enter your lastname"
        id="lastname"
        class="form-control"
      >
    </div>
    <!-- email field -->
    <div class="form-group mb-3">
      <label for="email" class="text-white">Email</label>
      <input
        [(ngModel)]="registerRequest.email"
        type="email" placeholder="email address"
        id="email"
        class="form-control"
      >
    </div>
    <!-- password field -->
    <div class="form-group mb-3">
      <label for="password" class="text-white">Password</label>
      <input
        [(ngModel)]="registerRequest.password"
        type="password"
        id="password"
        placeholder="email address"
        class="form-control"
      >
    </div>

    <p class="text-center align-items-center justify-content-center mb-4">---- Or continue with ----</p>

    <!-- Google and GitHub Login Buttons side by side -->
    <div class="d-flex justify-content-between">
      <!-- Google Button -->
      <button type="button" class="btn btn-outline-light btn-sm d-flex align-items-center justify-content-center mb-4" id="google-signin" style="width: 48%;">
        <img src="assets/google-icon.png" alt="Google Icon" class="me-2">
        Google
      </button>

      <!-- GitHub Button -->
      <button type="button" class="btn btn-outline-light btn-sm d-flex align-items-center justify-content-center mb-4" id="github-signin" style="width: 48%;">
        <img src="assets/github-icon.png" alt="GitHub Icon" class="me-2">
        GitHub
      </button>
    </div>

    <button type="submit" (click)="register()" class="btn btn-primary w-100 mb-4">Sign Up</button>
    <div class="text-center">
      <button (click)="login()" class="btn btn-link text-white">Have an account ? login</button>
    </div>
  </div>
</div>

<!--<div class="container d-flex justify-content-center align-items-center vh-100">-->
<!--  <div class="register-form col-md-6 col-lg-4 shadow p-4 rounded">-->
<!--    <h3 class="text-center">Create an account</h3>-->
<!--    <hr>-->
<!--    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">-->
<!--      <p *ngFor="let msg of errorMsg">{{msg}}</p>-->
<!--    </div>-->
<!--    &lt;!&ndash;last name field &ndash;&gt;-->
<!--    <div class="mb-3">-->
<!--      <label for="firstname" class="form-label">Firstname:</label>-->
<!--      <input [(ngModel)]="registerRequest.firstname"-->
<!--             type="text"-->
<!--             placeholder="first name" class="form-control" id="firstname">-->
<!--    </div>-->
<!--    &lt;!&ndash;last name field &ndash;&gt;-->
<!--    <div class="mb-3">-->
<!--      <label for="lastname" class="form-label">Lastname:</label>-->
<!--      <input [(ngModel)]="registerRequest.lastname"-->
<!--             type="text"-->
<!--             placeholder="first name" class="form-control" id="lastname">-->
<!--    </div>-->
<!--    &lt;!&ndash; email field &ndash;&gt;-->
<!--    <div class="mb-3">-->
<!--      <label for="login" class="form-label">Email:</label>-->
<!--      <input [(ngModel)]="registerRequest.email"-->
<!--             type="email" placeholder="email address"-->
<!--             class="form-control" id="login">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="password" class="form-label">Password:</label>-->
<!--      <input [(ngModel)]="registerRequest.password"-->
<!--             type="password" placeholder="password"-->
<!--             class="form-control" id="password">-->
<!--    </div>-->

<!--    <div class="d-flex justify-content-between mb-3">-->
<!--      <button (click)="register()" type="button" class="btn btn-primary">-->
<!--        Register-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="d-flex justify-content-between mb-3">-->
<!--      Have an account?-->
<!--      <button (click)="login()" type="button" class="btn btn-link">-->
<!--        Login-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
